<table class="table table-info table-borded">
	<thead>
		<tr>
			<th colspan="7" scope="col">
				<button type="button" onclick="requestFromQuery('t_f=<%=prevButton%>');" style="margin-right: 10px;background-color:inherit;border:none;">&lt;</button>
				<%= schedule.year %>&nbsp;&nbsp;<%= schedule.month %>
				<button type="button" onclick="requestFromQuery('t_f=<%=nextButton%>');" style="margin-left: 10px;background-color:inherit;border:none;">&gt;</button>
			</th>
		</tr>
		<tr>
		<% for(let i = 0; i < 7; ++i) { %>
			<th scope="col"><%= schedule.weekData[i] %></th>
		<% } %>
		</tr>
	</thead>
	<tbody>
		<% for(let col of schedule.dates) { %>
		<tr>
			<% for(let cell of col) { %>
			<td>
				<div class="row">
				<% if(cell.date !== null) { %>
					<div class="col" id="date-<%=cell.date%>"><%= cell.date %></div>
					<div class="col" id="schedule-<%=cell.date%>"></div>
				<% if(schedule.schedules !== null) {
					if(schedule.schedules[schedule.month + "/" + cell.date] !== null) {
						for(let sc of schedule.schedules[schedule.month + "/" + cell.date]) {
							if(sc !== null) {
								if(mode !== "fix") {%>
									<div class="item"><%=sc.content%></div>
								<%} else { %>
									<div class='col-md-r'>
										<div class='p-3 mb-3 bg-secondary text-white edit-schedule'><%=sc.content%></div>
									</div>
								<% }
								}
							}
						}
					} %>
				<% } %>
				</div>
			</td>
			<% } %>
		</tr>
		<% } %>
		</tbody>
</table>
