<!doctype html>
<html class="h-100">
	<head>
		<%- include('../parts/head.ejs'); -%>
		<script type="text/javascript" src="./js/admin/schedule.js"></script>
		<style>
			tbody td {
				height: 100px;
			}
			.row {
				flex-flow: column;
			}
		</style>
	<% if (mode === 'fix') { %>
		<script>
			$(document).ready(function() {
				$('#edit-button').on('mouseup', function(e) {
					$('#schedule-list').append("<button type='button' class='btn btn-outline-warning'>" + $('#schedule-name').val() + "</button>");
					$('#schedule-name').val("");
					$('#schedule-list').children(':last').on('mouseup', function(e) {
						$('#schedule-paste').val($(e.target).text());
					});
				});
				$('td').hover(function() {
					$(this).css('background-color', '#cfe2ff');
				}, function() {
					$(this).css('background-color', 'var(--bs-table-bg)');
				});
				$('td').on('mouseup', function(e) {
					if ($('#schedule-paste').val() === "") return 1;
					if ($(e.target).hasClass('row')) return 1;
					$(e.target).children(':last').children(':last').append("<div class='col-md-r'><div class='p-3 mb-3 bg-secondary text-white edit-schedule'>" + $('#schedule-paste').val() + "</div></div>");
					$(e.target).children(':last').children(':last').on('mouseup', function(e) {
						$(e.target.parentNode).remove();
					});
				});
				$('.col-md-r').on('mouseup', function(e) {
					$(e.target).remove();
				});
			});
		</script>
	<% } %>
	</head>
	<body class="d-flex h-100 text-white text-center bg-dark">
		<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
			<%- include('../parts/header.ejs'); -%>
			<main class="py-3">
				<div class="container-md">
					<div class="bd-callout bd-callout-warning">
						<button type="button" class="btn btn-outline-warning" onmouseup="requestFromQuery('mode=fix');" style="float:right;margin-bottom:1rem;">Edit schedule</button>
						<% if (mode === 'fix') { %>
						<div class="row" style="width: 200px;">
							<input type="text" class="form-control" id="schedule-name">
							<button id="edit-button" type="button" class="btn btn-outline-success">edit</button>
						</div>
						<input type="hidden" class="form-control" id="schedule-paste">
						<% } %>
						<input type="hidden" value="<%=schedule.year%>-<%=schedule.month - 1%>" id="current-date">
						<%- include('../parts/schedule.ejs'); -%>
						<% if (mode === 'fix') { %>
						<div class="card bg-secondary">
							<div id="schedule-list" class="card-body">
							</div>
						</div>
						<div class="row">
							<button type="button" class="btn btn-outline-dark" onmouseup="sSubmit()">SUBMIT</button>
						</div>
						<% } %>
					</div>
				</div>
			</main>
			<footer class="mb-auto"></footer>
		</div>
	</body>
</html>
