<!doctype html>
<html class="h-100">
	<head>
		<%- include('./parts/head.ejs'); -%>
		<script type="text/javascript" src="/js/user/profile.js"></script>
		<script>
			$(document).ready(function() {
				$('#resetPwBox').hide();
				$('#resetPw').on('click', function() {
					clickResetBtn();
				});
				$('#resetPassword2').on('keyup', function() {
					checkPwMatch();
				});
				$('#resetPwSend').on('click', function() {
					resetPassword();
				});
			});
		</script>
	</head>
	<body class="d-flex h-100 text-white text-center bg-dark">
		<%- include('./parts/svg.ejs'); -%>
		<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
			<%- include('./parts/header.ejs'); -%>
				<main class="py-3">
					<div class="container-md">
						<div class="bd-callout bd-callout-warning">
							<div class="mb-3 row">
								<label for="userNickname" class="col-sm-2 col-form-label">닉네임</label>
								<div class="col-sm-6">
									<input type="text" class="form-control" name="nickname" id="userNickname" value="<%= nickname %>">
								</div>
							</div>
							<div class="mb-3 row">
								<label for="userStaticId" class="col-sm-2 col-form-label">아이디</label>
								<div class="col-sm-6">
									<input type="text" readonly class="form-control-plaintext text-white" id="userStaticId" value="<%= userId %>">
								</div>
							</div>
							<div id="resetPw" class="mb-3 row">
								<button type="button" class="btn btn-warning text-white w-100">Reset Password</button>
							</div>
							<div id="resetPwBox" class="mb-3 row justify-content-end">
								<div class="col-sm-6">
									<label for="currentPassword" class="visually-hidden">Password</label>
									<input type="password" class="form-control" id="currentPassword" placeholder="현재 비밀번호">
								</div>
								<div class="col-sm-6">
									<label for="resetPssword1" class="visually-hidden">Password</label>
									<input type="password" class="form-control" id="resetPassword1" placeholder="새로운 비밀번호">
								</div>
								<div class="col-sm-6">
									<label for="resetPassword2" class="visually-hidden">Password</label>
									<input type="password" class="form-control" id="resetPassword2" placeholder="새로운 비밀번호 확인">
								</div>
								<button id="resetPwSend" type="button" class="btn btn-primary mb-3 confirm" disabled>비밀번호 변경</button>
							</div>
							<div class="mb-3 row justify-content-end">
								<button id="fixSend" type="button" class="btn btn-secondary text-white confirm">수정</button>
							</div>
						</div>
					</div>
				</main>
				<footer class="mb-auto"></footer>
			</div>
	</body>
</html>
